<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Static Template</title>
    <module href="/components/head.html"></module>
  </head>

  <body>

    <div class="bg-dark vw-100 vh-100">
      <div class="px-4 py-3 w-100 bg-darker position-fixed top-0 left-0">
        <h1 class="text-primary">node.js static template</h1>
      </div>
      <div class="h-100 w-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-white">zombie9</h1>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>
        <div class="offcanvas offcanvas-bottom bg-dark text-primary border-top border-primary" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body small">
            ...
          </div>
        </div>
      </div> 
    </div> 

  </body>
</html>